@charset "utf-8";

table{
    margin: 0 auto;
    table-layout: auto;
    border-collapse: separate;
    border: 5px solid black;
    background-color: aliceblue;
}

caption{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

td{
    border: 3px solid black;
    font-size: 40px;
    padding: 10px 20px;
    text-align: center;
}

li{
    margin-left: 20px;
    text-align: left;
    font-size: 15.4px;
    list-style-type: disc;
}

address{
    margin: 30px;
    text-align: left;
    font-size: 15.4px;
    font-weight: bold;
}

p{
    margin-left: 30px;
    text-align: left;
    font-size: 15.4px;
    font-weight: bold;
}

img{
    margin-left: 20px;
    vertical-align: middle;
    width: 700px;
    height: 980px;
    border: 3px #000000 solid;
}
